<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd ">

    <!-- 自动扫描位置 -->
    <context:component-scan base-package="com.chen.controller">
    </context:component-scan>

    <!-- 访问静态资源,且静态文件存于webapp目录下 -->
    <mvc:default-servlet-handler/>
    <mvc:annotation-driven/>

    <!--<mvc:resources location="/image/" mapping="/image/**"/>-->
    <!--<mvc:resources location="/static/" mapping="/static/**"/>-->
    <!--<mvc:resources location="/bootstrap/" mapping="/bootstrap/**"/>-->


    <!--直接转发配置，不经过controller，直接转发到视图解析器-->
    <mvc:view-controller path="/table_bootstrap" view-name="table_bootstrap"/>
    <mvc:view-controller path="/table_data_tables" view-name="table_data_tables"/>
    <mvc:view-controller path="/pushrule" view-name="pushrule"/>
    <mvc:view-controller path="/login" view-name="login"/>
    <mvc:view-controller path="/register" view-name="register"/>

    <!-- 前端的渲染模板引擎thymeleaf-->
    <!--<bean id="templateResolver"-->
          <!--class="org.thymeleaf.spring4.templateresolver.SpringResourceTemplateResolver">-->
        <!--<property name="prefix" value="/pages/" />-->
        <!--<property name="suffix" value=".html" />-->
        <!--<property name="templateMode" value="HTML" />-->
        <!--<property name="cacheable" value="false" />-->
        <!--&lt;!&ndash;这里要设置编码 &ndash;&gt;-->
        <!--<property name="characterEncoding" value="UTF-8"/>-->
    <!--</bean>-->

    <!--<bean id="templateEngine"-->
          <!--class="org.thymeleaf.spring4.SpringTemplateEngine">-->
        <!--<property name="templateResolver" ref="templateResolver" />-->
    <!--</bean>-->

    <!--&lt;!&ndash; 配置引擎的viewResoler&ndash;&gt;-->
    <!--<bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">-->
        <!--<property name="templateEngine" ref="templateEngine" />-->
        <!--<property name="characterEncoding" value="UTF-8"/>-->
    <!--</bean>-->

     <!--视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>


</beans>