<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Article</title>
</head>
<body>

<table border="1">
    <tr>
        <th>id</th>
        <th>section_name</th>
        <th>article_title</th>
        <th>article_url</th>
        <th>article_createtime</th>
        <th>article_commentnum</th>
        <th>article_author</th>
    </tr>
    <tr th:each="info : ${articleinfos}">
        <td th:text="${info.getId()}">a</td>
        <td th:text="${info.getSection_name()}">b</td>
        <td th:text="${info.getArticle_title()}"></td>
        <td th:text="${info.getArticle_url()}"></td>
        <td th:text="${info.getArticle_createtime()}"></td>
        <td th:text="${info.getArticle_commentnum()}"></td>
        <td th:text="${info.getArticle_author()}"></td>
    </tr>
</table>
</body>
</html>